attrs
cloudpickle
gin-config
google
gym
gym-sokoban @ git+https://github.com/subgoal-search/gym-sokoban.git
joblib
neptune-client
numpy
psutil
pycolab
pylint
pylint-quotes
pytest
randomdict
ray
tblib
tensorflow
tqdm

# Install torch, but make sure that torch+CUDA versions are compatible with GPU of Turing architecture
# see: https://discuss.pytorch.org/t/cuda-error-cublas-status-internal-error-when-calling-cublascreate-handle/114341/9
torch
torchvision
torchaudio

transformers
